.box {
  height: 4rem;
  width: 4rem;
  background-color: red;
  border: 1px solid black;
  /* animation-name: grow; */
  /* animation-duration: 2s; */
  /* delay before the animation starts */
  /* animation-delay: 2s; */
  /* how many times the animation run */
  /* animation-iteration-count: infinite; */

  /* Describes how the animation will progress over one cycle of its duration  */

  /* animation-timing-function: ease-in; */

  /* how the animation play out */

  /* animation-direction: alternate-reverse; */

  /* animation-fill-mode: backwards; */
  /* animation-fill-mode: both; */
  animation: supersize 2s ease-in 0s 4 alternate;
}

.wrapper-text {
  color: white;
  text-transform: uppercase;
  font-size: 4rem;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  /* animation-name: fadeInText;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both; */
}

.img-wrapper {
  animation-name: fadeInText;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./background.png");
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  animation-name: expandFadeIn;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: both;
}

@keyframes grow {
  /* from {
    width: 50px;
    height: 50px;
    background: red;
  }
  to {
    width: 100px;
    height: 100px;
    background: green;
  } */

  /* we can use percntages also here */

  /* 0% {
    width: 50px;
    height: 50px;
    background: red;
  }

  50% {
    width: 50px;
    height: 100px;
    background: blue;
  }

  100% {
    width: 100px;
    height: 100px;
    background: green;
  } */
}

@keyframes supersize {
  0% {
    width: 10px;
    height: 10px;
    background: blue;
  }
  50% {
    width: 20px;
    height: 20px;
    background: red;
  }
  100% {
    width: 50px;
    height: 50px;
    background: green;
  }
}

@keyframes expandFadeIn {
  0% {
    opacity: 0;
    width: 0%;
  }
  100% {
    width: 100%;
    opacity: 100%;
  }
}

@keyframes fadeInText {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
