body {
  background-color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.quiz-box {
  background-color: #2a2a40;
  padding: 3px;
  border: 2px solid black;
  border-radius: 12px;
  width: 90%;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  color: white;
}

#question {
  margin-bottom: 20px;
}

#options {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.next-btn {
  padding: 10px 20px;
  border: none;
  background-color: #4b6cb7;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
}

#timer {
  font-size: 20px;
  color: yellow;
}

.option-btn {
  padding: 12px;
  background-color: #38385e;
  border: none;
  border-radius: 12px;
  color: white;
  cursor: pointer;
  transition: backgroud-color 0.3s ease;

  :hover {
    background-color: #4b6cb7;
  }
}
